<footer class="container mx-auto mt-8 p-6 text-gray-600 border-t border-gray-400">
    <div class="grid grid-cols-2">
        <div>
            <span class="text-sm font-semibold tracking-wide text-gray-900 uppercase">
                SOCIAL
            </span>
            <ul class="text-xs mt-3">
                <li class="py-1">
                    <a class="no-shadow hover:text-gray-800" href="https://github.com/codedge">
                        <i class="fab fa-github"></i> Github
                    </a>
                </li>
                <li class="py-1">
                    <a class="no-shadow hover:text-gray-800" href="https://twitter.com/cod2edge">
                        <i class="fab fa-github"></i> Twitter
                    </a>
                </li>
                <li class="py-1">
                    <a class="no-shadow hover:text-gray-800"href="https://stackoverflow.com/users/6278060/codedge">
                        <i class="fab fa-github"></i> StackOverflow
                    </a>
                </li>
                <li class="py-1">
                    <a class="no-shadow hover:text-gray-800" href="https://linkedin.com/in/holgerloesken">
                        <i class="fab fa-github"></i> LinkedIn
                    </a>
                </li>
            </ul>
        </div>
        <div class="text-right">
            <div class="justify-end text-right mb-1">
                <a class="no-shadow" href="https://www.youracclaim.com/badges/b4007fd7-3832-4a83-8cd0-3c0a3d877f74" target="_blank" rel="noopener">
                    <span class="hidden lg:inline text-xs font-semibold tracking-wide text-gray-900 uppercase">AWS Certified Cloud Practitioner</span>
                    <img class="inline-block" src="{{ glide src="/images/certs/aws_cp.png" width="60" }}" width="60" height="60" alt="AWS Cloud Practitioner Badge"/>
                </a>
            </div>
            <div class="justify-end text-right">
                <a class="no-shadow" href="https://www.scrumalliance.org/community/profile/hl9sken" target="_blank" rel="noopener">
                    <span class="hidden lg:inline text-xs font-semibold tracking-wide text-gray-900 uppercase">Certified Scrum Master</span>
                    <img class="inline-block" src="{{ glide src="/images/certs/sa_csm.png" width="60" }}" width="60" height="60" alt="Certified Scrum Master Badge"/>
                </a>
            </div>
        </div>    
    </div>
    <div class="mt-12 text-xs">
        <a class="font-semibold no-shadow" href="https://github.com/codedge/codedge.de-statamic">This website is open source.</a>
        Proudly built with <a class="font-semibold no-shadow" href="https://statamic.com/" target="_blank" rel="noopener">Statamic</a> and <a class="font-semibold no-shadow" href="https://tailwindcss.com/" target="_blank" rel="noopener">Tailwindcss</a>, hosted with <a class="font-semibold no-shadow" href="https://vercel.com/" target="_blank" rel="noopener">Vercel</a>.
    </div>
</footer>
