<div class="mx-auto mt-12 hidden lg:tracking-wide text-lg">
    <h3 class="text-3xl text-center">Webmentions</h3>
    <div class="mt-4" data-webmentions="{{ current_full_url }}"></div>
    <template id="wm-template">
        <div class="mt-4">
            <div data-wm-author class="inline-block">
                <img data-wm-author-img class="h-6 w-6 inline-block" src="" />
                <span data-wm-author-name class="font-semibold ml-1"></span>
            </div>
            <div data-wm-meta class="inline-block">
                <a data-wm-meta-label class="lg:px-1" target="_blank" rel="noopener"></a>
                <span data-wm-meta-date></span>
            </div>
        </div>
    </template>
</div>