<div class="container max-w-5xl mx-auto py-6 mt-8">
    <div class="font-medium text-xl">
        Hey, I'm Holger Lösken - a full-stack web application developer from Germany with over 15 years professional experience.
    </div>

    <h2 class="text-3xl font-semibold text-gray-900 mt-12 mb-4 w-auto">
        Latest posts:
    </h2>

    <div class="grid grid-cols-1 lg:grid-cols-1 gap-6 mt-10">
        {{ collection:posts limit="5" sort="date:desc" }}
            <div class="flex md:border-2 md:border-gray-400 p-2">
                <a class="inline-block text-gray-900 leading-8 font-bold tracking-tight text-2xl" href="/posts/{{ slug }}">
                    {{ title }}
                </a>
            </div>
        {{ /collection:posts }}

        <a class="block text-left mt-6 text-primary-400 no-shadow" href="/posts">
            Read more <svg class="w-4 h-4 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7"></path></svg>
        </a>
    </div>
</div>
