<div class="container mx-auto mt-8">
    <div class="text-4xl text-center">
        Welcome!
    </div>


    <div class="bg-white p-6">
        <h2 class="text-xl mt-8 mb-4 lg:w-1/4 w-auto border-b-2 border-primary-400">
            Recent posts
        </h2>
        <ul>
        {{ collection:posts limit="10" }}
            <li class="flex py-1">
                <span class="hidden lg:inline-block w-32 text-gray-600 mr-2 lg:mr-4 text-xs lg:text-sm">{{ date format="Y-m-d" }}</span>
                <a class="inline-block text-gray-800 text-sm lg:text-md no-shadow" href="/posts/{{ slug }}">
                    {{ title }}
                </a>
            </li>
        {{ /collection:posts }}
        </ul>
    </div>
</div>