<div class="container mx-auto p-6 mt-8 text-gray-600">
    <div class="text-gray-900 text-2xl font-bold uppercase">
        codedge
    </div>

    <div class="font-semibold">
        Hey, I'm Holger Lösken - a full-stack web application developer from Germany with over 15 years professional experience.
    </div>

    <div class="grid grid-cols-2 gap-4 mt-10">
        <div>
            <h2 class="uppercase font-semibold text-gray-900 mt-8 mb-4 w-auto border-b border-gray-400">
                Recent posts
            </h2>
            <ul>
            {{ collection:posts limit="5" sort="date:desc" }}
                <li class="flex py-1">
                    <span class="hidden lg:inline-block w-32 text-gray-600 mr-2 lg:mr-4 text-xs lg:text-sm">{{ date format="Y-m-d" }}</span>
                    <a class="inline-block text-gray-800 text-sm lg:text-base" href="/posts/{{ slug }}">
                        {{ title }}
                    </a>
                </li>
            {{ /collection:posts }}
            </ul>
            <a class="block text-left mt-6 text-primary-400 no-shadow" href="/posts">
                Read more <svg class="w-4 h-4 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7"></path></svg>
            </a>

        </div>
        <div>

        </div>
    </div>
</div>