<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="canonical" content="{{ seotamic:canonical }}">
        <meta name="description" content="{{ seotamic:description}}">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <title>{{ seotamic:title }}</title>
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        {{ if environment === 'production' }}
        <script src="https://4ke5b4ila.codedge.de/script.js" data-site="NAZGCKUR" defer></script>
        {{ /if }}
        
        {{ seotamic:og }}
        {{ seotamic:twitter }}
    </head>
    <body class="bg-gray-100 font-sans leading-normal text-grey-900">
        {{ partial:_nav }}

        {{ template_content }}

        {{ partial:_footer }}
        <script src="/js/site.js"></script>
    </body>
</html>
