<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="canonical" content="{{ seotamic:canonical }}">
        <meta name="description" content="{{ seotamic:description}}">
        {{ if environment !== 'production' }}
        <meta name="robots" content="noindex, nofollow">
        {{ /if }}
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="alternate" type="application/atom+xml" title="Web development | codedge" href="/feed">
        <!-- Webmention -->
        <link rel="webmention" href="https://webmention.io/www.codedge.de/webmention" />
        <link rel="pingback" href="https://webmention.io/www.codedge.de/xmlrpc" />
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Rubik:400,600,700,800&display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,600,700,800&display=swap" media="print" onload="this.media='all'" />

        <title>{{ seotamic:title }}</title>
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        {{ if environment === 'production' }}
        <script src="https://4ke5b4ila.codedge.de/script.js" data-site="NAZGCKUR" defer></script>
        {{ /if }}
        <script type='application/ld+json'>
        {
            "@context":"http:\/\/schema.org",
            "@type":"WebSite",
            "@id":"#website",
            "url":"https:\/\/www.codedge.de\/",
            "name":"www.codedge.de"
        }
        </script>
        <script type='application/ld+json'>
        {
            "@context":"http:\/\/schema.org",
            "@type":"Person",
            "sameAs":["https:\/\/twitter.com\/cod2edge"],
            "@id":"#person",
            "name":"Holger Lösken"
        }
        </script>
        
        {{ tags }}
        <meta property="article:tag" content="{{ value }}"/>
        {{ /tags }}
        <meta property="article:published_time" content="{{ date format="Y-m-d\TH:i:sO" }}"/>
        {{ seotamic:og }}
        {{ seotamic:twitter }}
    </head>
    <body class="font-sans leading-normal text-grey-900">
        {{ partial:_nav }}

        {{ template_content }}

        {{ partial:_footer }}
        <script src="/js/site.js" defer></script>
    </body>
</html>
