{{ collection:posts as="articles" sort="date:desc"}}
<div class="container max-w-5xl mx-auto mt-8 py-6">
    <h1 class="text-4xl font-bold">
        {{ title }}
    </h1>


        <ul class="divide-y-2 divide-gray-200">
        {{ articles }}
        <li class="py-8">
            <article class="space-y-2 xl:grid xl:grid-cols-4 xl:space-y-0 xl:items-baseline">
                <dl>
                    <dt class="sr-only">Published on</dt>
                    <dd class="text-base leading-6 font-medium text-gray-600">
                        <time datetime="{{ date }}">{{ date }}</time>
                    </dd>
                </dl>
                <div class="space-y-5 xl:col-span-3">
                    <div class="space-y-6">
                        <h2 class="text-2xl leading-8 font-bold tracking-tight">
                            <a href="/posts/{{ slug }}" class="text-gray-800 ">
                                {{ title }}
                            </a>
                        </h2>
                    </div>
                </div>
            </article>
        </li>
        {{ /articles }}
        </ul>
</div>
{{ /collection:posts }}
