{{ highlight:css style="foundation" }}

<div class="container mx-auto mt-8 p-6 bg-white">

    <div class="bg-yellow-200 border-t-4 border-yellow-500 p-4">
        <strong class="block">Fathom Analytics</strong>
        <span class="text-base">Website analytics made easy and respect the users privacy. Give it a try and support me by using my <a href="https://usefathom.com/ref/Q01PYS">affiliate link</a>.</span>
    </div>


    <article itemscope itemtype=http://schema.org/BlogPosting>
        <div class="prose max-w-none mt-10 mb-8 text-center">
            <h1 itemprop="headline"> 
                {{ title }}
            </h1>
            <time class="text-base font-normal" datetime="{{ date format="Y-m-d" }}">
                {{ date }}
            </time> |
            <div class="inline" itemscope itemtype="http://schema.org/Person">
                <span itemprop="author">Holger Lösken</span>
            </div>
        </div>

        <div itemprop="articleBody">
            {{ post_content }}
                {{ partial src="sets/{type}" }}
            {{ /post_content }}
        </div>
    </article>

    {{ partial:_webmentions }}
</div>